@font-face {
  font-family: "Noto Sans Lao";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansLao-Regular.eot);
  src: url(../fonts/NotoSansLao-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSansLao-Regular.woff2) format("woff2"),
    url(../fonts/NotoSansLao-Regular.woff) format("woff"),
    url(../fonts/NotoSansLao-Regular.ttf) format("truetype");
}
* {
  font-family: "Noto Sans Lao", sans-serif;
}
* {
  font-family: "Noto Sans Lao", sans-serif;
}
.span {
  position: absolute;
  display: block;
  margin-top: 4px;
  height: 18px;
  width: 5px;
  background: #fa6d69;
}